{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "flowtype"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "function-paren-newline": "off",
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "arrow-body-style": [
      "error",
      "as-needed"
    ],
    "comma-dangle": [
      "error",
      "only-multiline"
    ],
    "import/no-unresolved": ["error", { "ignore": ["firebase*"] }],
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "max-len": "off",
    "no-console": ["warn", { "allow": ["error"] }],
    "react/forbid-prop-types": "off",
    "react/jsx-curly-brace-presence": "off",
    "react/jsx-first-prop-new-line": [
      "error",
      "multiline"
    ],
    "flowtype/define-flow-type": "error",
    "react/sort-comp": "off",
    "react/jsx-filename-extension": "off",
    "react/require-default-props": "off",
    "react/self-closing-comp": "off",
    "semi": ["error", "never"],
    "jsx-a11y/anchor-is-valid": "off"
  }
}
